.home
    background-image: url("./../../assets/home/background-home-desktop.jpg")
    background-size: cover
    background-repeat: no-repeat
    min-height: 100vh
    .content
        color: white
        display: flex
        padding-inline: 12%
        margin-top: 300px
        align-items: center
        .leftPart
            width: 50%
            h1
                font-size: 2em
                span
                    font-size: 5.5em
            p
                width: 54%
        .rightPart
            display: flex
            justify-content: center
            width: 50%
            .explore
                color: black
                background-color: white
                width: 300px
                height: 300px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50%