nav
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: 40px
    padding-top: 50px
    .bar
        width: 400px
        background-color: white
        height: 2px
    .blurNav
        background-color: rgba(255, 255, 255, 0.062)
        backdrop-filter: blur(5px)
        padding-inline: 200px
        height: 100px
        display: flex
        gap: 50px
        align-items: center
        flex-wrap: wrap
        a
            text-decoration: none
            color: white
            height: 100%
            display: flex
            font-size: 1.5em
            align-items: center
            transition: all 0.5s
            border-bottom: solid 4px transparent
            &:hover
                color: rgb(131, 192, 241)
        .active
            border-bottom: solid 4px white
            color: rgb(131, 192, 241)
    .burgerMenu
        display: none
@media (max-width: 1620px)
    nav
        background-color: rgba(255, 255, 255, 0.062)
        backdrop-filter: blur(5px)
        margin-left: 0
        padding-top:0 
        padding-block: 10px
        padding-inline: 20px
        .bar
            width: 50%
        .blurNav
            display: none
        .burgerMenu
            display: block