.technology
    background-image: url("./../../assets/technology/background-technology-desktop.jpg")
    background-size: cover
    background-repeat: no-repeat
    min-height: 100vh
    color: white
    .titre
        padding-left: 12%
        margin-top: 100px