.technology
    background-image: url("./../../assets/technology/background-technology-desktop.jpg")
    background-size: cover
    background-repeat: no-repeat
    min-height: 100vh
    color: white
    .titre
        padding-left: 12%
        margin-top: 100px
    .content
        display: flex
        padding-inline: 12%
        justify-content: space-around
        gap: 80px
        margin-top: 100px
        align-items: center
        .numbers
            display: flex
            flex-direction: column
            gap: 80px
            .numero
                font-size: 3em
                border: solid 1px white
                width: 70px
                height: 70px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50%
                cursor: pointer
            .active
                background-color: white
                color: black
        .infos
            h3
                font-size: 0.8em
            h1
                font-size: 4em
                text-transform: uppercase
                margin-block: 15px
            p
                width: 75%
                font-size: 1.5em
                line-height: 40px
@media (max-width: 1620px)
    .technology
        background-image: url("./../../assets/technology/background-technology-mobile.jpg")
        .titre
            font-size: 1.5em
            text-align: center
            padding: 0
            line-height: 40px
            margin-top: 20px
        .content
            gap: 30px
            flex-direction: column
            margin-top: 50px
            padding-inline: 5%
            .numbers
                flex-direction: row
                gap: 20px
            .infos
                h1
                    font-size: 3em
                p
                    width: 100%
                    font-size: 1.2em
            .imgContainer
                margin-bottom: 20px
                img
                    width: 100%